.cart{
  margin-top: 100px;
  background: white;
width: 80vw;
border-radius: 10px;
padding: 20px;
}
.cart-items-title{
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  color: rgb(25, 15, 20);
  font-size: max(1vw,14px);
  font-weight: 600;
}

.cart-items-item{
    margin: 10px 0px;
    color: rgb(19, 16, 16);
}

.cart-items-item img{
    width:50px;
   
}

.cart hr{
    height: 1px;
    background-color: #100e0e;
    border: none;
}
.cart-items-item .cross{
  cursor: pointer; 
}

.cart-bottom{
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: max(12vw,20px);
  font-family: cursive;
}

.cart-totals{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-total-details{
  display: flex;
  justify-content: space-between;
  color: #362525;
}

.cart-totals hr{
  margin: 10px 0px;
}

.cart-totals button{
  border: none;
  color: whitesmoke;
  font-size: 15px;
  background-color: tomato;
  width: max(15vw,200px);
  padding: 12px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.cart-totals button:hover{
  background-color: #eb3232;
}

.cart-promocode{
  flex: 1;
}
.cart-promocode p{
  color: #555;
}
.cart-promocode-input{
 margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#eaeaea ;
  border-radius: 4px;
}

.cart-promocode-input input{
 background: transparent;
 border: none;
 outline: none;
 padding-left: 10px;
}

.cart-promocode-input button{
  background-color: rgb(14, 12, 12);
  color: white;
  border: none;
  width: max(10vw,150px);
  font-size: 15px;
  padding:12px 5px;
  border-radius: 4px;
  cursor: pointer;
}


@media(max-width:750px){
  .cart-bottom{
    flex-direction: column-reverse;
  }
  .cart-promocode{
    justify-content: start;
  }
}